<div class="aci-dialog-content-div">
        <div class="aci-dialog-content-span">
            <label style="margin-left:10px" ng-bind="delTenantLabel"></label>
        </div>
		</br>

        <div class="aci-dialog-content-span">
            <input class = "a-button" ng-click="deleteTenant()" value="Yes" style="margin-left:35%; width:40px;"/>
            <span><input class = "a-button" ng-click="onCanceldelTenant()" value="No" style="width:40px;"></span>
            
           <!--  <aci-button class="aci-primary" type="submit" style="float : right;">Save</aci-button>
            <aci-button type="button" on-click="onCanceladdTenant()" style="float : right;margin-right: 10px;">Cancel</aci-button> -->
        </div>
</div>


