<style>
.notesContainer
{
	width:990px;
	margin-left: auto;
	margin-top:0;
    margin-right: auto;
}
body
{
	margin:0;
	background-color:#fff;
}

.top-banner
{
	width:100%;
	height:60px;
	margin-left: auto;
    margin-right: auto;
    background-position: center;
	background-color: #03a3e2;
}
.top-bannerBox
{
	width:990px;
	height:60px;
}
.page-titleBox
{
	width:100%;
	height:40px;
	background-color:#E8E8E8;
}
.page-titleText
{
	color:#000;
	font-size:18px;
	text-align:center;
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.banner-cisco
{
	background-image:url(../images/logo.png);
	width:100px;
	height:48px;
	float:left;
	margin-top:6px;
}
.bannner-logo-box
{
	width:90px;
	height:60px;
	float:left;	
}
.logo-dividerLine
{
	height:45px;	
	width:12px;
	border-right:1px solid #fff;
	float:left;
	margin-top:7px;
}
.project-name-text 
{
	width:150px;
	height:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
	margin-top:20px;
	margin-left:20px;
    float: left;
	color:#fff;
}
.notesText
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}

</style>
    
    <div class="top-banner">
        <div class="notesContainer">
        <div class="top-bannerBox">
        <div class="bannner-logo-box">
        	<div class="banner-cisco"></div>
         </div>
            <div class="logo-dividerLine"></div>
            <div class="project-name-text">Network Sizer</div>
        </div>
        <div class="page-titleBox">
        	<div class="page-titleText">Release Notes</div>
           
        </div>
            <div>
<pre class="notesText">
<div style="color:#336666; font-size:24px;"><strong>Cisco Network Sizer V1.0</strong></div>
Date: 11 Apr 2016

<div style="color:#336666; font-size:21px;">Table of Contents</div>
 01 Overview
 02 How to use Network Sizer
 03 Known Issues
 04 How to log defects

<strong style="color:#336666;">01 Overview</strong>

      Network Sizer is a Web based application which helps in sizing the Network infrastructure of a datacenter for ACI or Nexus 9000 based deployments.

<strong style="color:#336666;">02 How to use Network Sizer</strong>

      Network Sizer is hosted at <a href="https://t459jj4xprd-nwsserver.cloudapps.cisco.com/networksizer" target="_blank">https://t459jj4xprd-nwsserver.cloudapps.cisco.com/networksizer</a>, <a href="https://nwsizer.cloudapps.cisco.com/networksizer" target="_blank">https://nwsizer.cloudapps.cisco.com/networksizer</a>
  
      Open your Internet browser such as Chrome or Firefox and visit the above URL.
      Enter your Cisco user credentials.
      First page displays a list of all projects previously created by the user.
      Start a new project either by creating a New project by clicking "+" button or clone (copy) an existing project.
      Once you create a project, detailed view of the project comes up.
      Select Physical or Logical Sizer details to add elements to project.
   
      For additional details, refer user guide by clicking drop down menu on top right corner of the page.

<strong style="color:#336666;">03 Known Issues</strong>

      1. Application is tested on Chrome and Firefox browsers.
   
      Workaround:Since the application uses standard HTML/CSS components, it is expected to work on
                          other browsers/operating systems.

<strong style="color:#336666;">04 How to log defects</strong>

      Select "Feedback" link by clicking dropdown menu on the top right corner of the page. Fill the form and submit.


</pre>

            </div>	
    	</div>
    </div>
