<div class="modal" id="addAppModal">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content" style="border-radius:0px">      
      <div class="modal-header" style="background-color:#49ABFF;height:50px;">
        <button type="button" class="close my-close"  ng-click="closeAppDialog()">&times;</button>
        <h4 class="modal-title my-titleBar" >{{applicationWindowTitle}}</h4>
      </div>      
      <div style="height:30px;width:100%;">
        <div class="progress aci-progress">
          <div id="firstRound" class="firstCircle">{{firstCircleValue}}</div>
          <div id="secondRound" class="secondCircle">{{secCircleValue}}</div>
          <div id="thirdRound" class="thirdCircle">{{thirdCircleValue}}</div>
          <div id ="progressBar" class="progress-bar aci-progress-bar"></div>
        </div>
      </div> 
      <div class="modal-body" ng-transclude style="height:300px;overflow:hidden;padding:30px" id="modalAppForm"></div>
      <div class= "modal-footer modal-footer-custom">
        <button class = "modal-footer-button" ng-click="scrollToPrev()" ng-show="prevButtonShow">Previous</button>
        <button class = "modal-footer-button" style="margin-left:64.5%" ng-click="scrollToNext()" ng-show="nextButtonShow">Next</button>
        <button class = "modal-footer-button" style="margin-left:64.5%" ng-click="saveAppDialog()" ng-show="saveButtonShow">Save</button>
      </div>
    </div>
  </div>
</div>