<div class="addprojectView clr">
  <div class="modal-header">
    <h3 class="modal-title">Contract Details {{detailsCtrl.ctname}}</h3>
    <i class="fa fa-close closeIcon" ng-click="$dismiss()"></i>
  </div>
  <div class="clr contractDetails">
    
    <div class="wid30 pull-left ">
      <a href="javascript:void(0)" data-toggle="collapse" data-target="#filters">
        <i class="fa fa-angle-right"></i>
        <i class="fa fa-angle-down"></i> &nbsp; {{detailsCtrl.object.name}}
      </a>
      <ul class="subFilter collapse in" id="filters">
        <li ng-repeat="filter in detailsCtrl.object.subjects[0].filters" ng-click="detailsCtrl.showDetails(filter)">
          <span data-toggle="collapse" data-target="#filterEntries">
            <i class="fa fa-angle-right"></i>
            <i class="fa fa-angle-down"></i> &nbsp; {{filter.name}}
          </span>
          <ul class="subFilter collapse in" id="filterEntries">
            <li ng-repeat="filterEntry in filter.filterEntry" ng-click="detailsCtrl.showDetails(filterEntry)">
              {{filterEntry.name}}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="wid70 pull-left">
      <div class="filterEntryDetails" ng-hide="filterEty">
        <h5>Filter Entry 1 Details</h5>
        <div class="clr">
          <div class="rowLabel">
            <label>Name </label>
            <span>3pc Contract</span>
          </div>
          <div class="rowLabel">
            <label>Entray Type </label>
            <span>Type 1</span>
          </div>
          <div class="rowLabel">
            <label>IP Protocol </label>
            <span>Protocol 1</span>
          </div>
          <div class="rowLabel">
            <label>Source Port </label>
            <span>Port 1</span>
          </div>
          <div class="rowLabel">
            <label>Destination Port </label>
            <span>Port 2</span>
          </div>
        </div>
      </div>
      <div class="contractDet" ng-show="contractDet">
        <h5>Contract Details</h5>
        <div class="clr">
          <div class="rowLabel">
            <label>Name </label>
            <span>3pc Contract</span>
          </div>
        </div>
      </div>
      <div class="filterDet" ng-show="filterDet">
        <h5>Filter1 Details</h5>
        <div class="clr">
          <div class="rowLabel">
            <label>Name </label>
            <span>3pc Contract</span>
          </div>
          <div class="rowLabel">
            <label>Description </label>
            <span>Filter sample description</span>
          </div>
        </div>
      </div>
      <hr class="clr" />
      <div class="clr margintop10" align="center">
        <input type="button" value="OK" class="a-button add-tenant-buttons" ng-click="$dismiss()" />
      </div>
    </div>
  </div>
</div>
