<div class="addprojectView clr" id="deleteTemplate">
  <div class="modal-header">
    <h3 class="modal-title">Delete Repository Object</h3>
    <i class="fa fa-close closeIcon" ng-click="$dismiss()"></i>
  </div>
  <center> Are you sure you want to delete "{{deleteRepoObjCtrl.repoObject.objectName}}" ? </center><br/>
  <div   class="button_footer">
    <input type="submit" value="Yes" class="a-button add-tenant-buttons wid30 margin_right5" ng-click="deleteRepoObjCtrl.deleteRepoObject(deleteRepoObjCtrl.repoObject)" />
    <input type="submit" value="No" class="a-button add-tenant-buttons wid30" ng-click="$dismiss()" />
  </div>
</div>
